micronaut:
  application:
    name: singlyApiMicronaut
datasources:
  default:
    url: jdbc:postgresql://localhost:5432/postgres
    driverClassName: org.postgresql.Driver
    username: postgres
    password: ''
jpa.default.properties.hibernate.hbm2ddl.auto: update
